@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000111;
  background-image: linear-gradient(#ffc4a715, 0.1rem, transparent 0.1rem),
    linear-gradient(90deg, #ffc4a715 0.1rem, transparent 0.1rem);
  background-size: 3.5rem 3.5rem;
  color: #fefefe;
}